
@import '../styles/colors.scss';

.GUIMPaginator {
  width: 60%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.GUIMPaginator li {
  cursor: pointer;
}
.GUIMPaginator li.Active {
  background-color: var( --main-blue);
}
.GUIMPaginator li.Disabled {
  opacity: 0.7;
}