.GUIMSlider {
  width: 100px;
  display: flex;
  position: relative;
  border: 1px solid black;
  & .left{
    background: gray;
  }
  & .right  {
    background: gray;
  }
  & .inner {
    background: red;
  }
  & .handler {
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    z-index: 1;
    top: 0px;
    cursor: pointer;
  }
}
