@import "../styles/colors.scss";
@import "../styles/themes.scss";

.GUIMCheckbox {
  -webkit-appearance: none;
  background-color: var(--white);
  border: 2px solid var(--main-gray);
  border-radius: 3px;
  display: inline-block;
  position: relative;
  outline: none;
  width: 16px;
  height: 16px;
  transition: all 0.5s ease;
  cursor: pointer;
  &:checked {
    &::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
      position: absolute;
      top: 0px;
      left: 5px;
      display: table;
      width: 2px;
      height: 10px;
      border: 2px solid #fff;
      border-top-width: 0;
      border-left-width: 0;
    }
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}
.GUIMSwitch {
  display: flex;
  width: 50px;
  height: 22px;
  &.Disabled > * {
    opacity: 0.4;
    cursor: not-allowed !important;
  }
}

.GUIMSwitch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 22px;
  background: #bbbbbb;
  display: block;
  border-radius: 90px;
  position: relative;
}
.GUIMSwitch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.GUIMSwitch label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 90px;
  transition: 0.1s;
}
.GUIMSwitch input:not(:checked) + label:after {
  top: 2px;
  left: 2px;
}
.GUIMSwitch.Checked label {
  height: 20px;
  width: 38px;
}
.GUIMSwitch input:checked + label:after {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}
.GUIMSwitch label:active:after {
  width: 18px;
}

.GUIMCheckboxBlue:checked {
  @apply --blue-theme;
}
.GUIMCheckboxGray:checked {
  @apply --gray-theme;
}
.GUIMCheckboxGreen:checked {
  @apply --green-theme;
}
.GUIMCheckboxOrange:checked {
  @apply --orange-theme;
}
.GUIMSwitchBlue:checked + label {
  @apply --blue-theme;
}
.GUIMSwitchGray:checked + label {
  @apply --gray-theme;
}
.GUIMSwitchGreen:checked + label {
  @apply --green-theme;
}
.GUIMSwitchOrange:checked + label {
  @apply --orange-theme;
}
