@import '../styles/colors.scss';
@import '../styles/themes.scss';

.GUIMCheckbox {
  -webkit-appearance: none;
  background-color: var(--white);
  border: 2px solid var(--main-gray);
  border-radius: 3px;
  display: inline-block;
  position: relative;
  outline: none;
  width: 16px;
  height: 16px;
  transition: all 0.5s ease;
  cursor: pointer;
  &:checked{
    &::before{
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: "";
      position: absolute;
      top: 0px;
      left: 5px;
      display: table;
      width: 2px;
      height: 10px;
      border: 2px solid #fff;
      border-top-width: 0;
      border-left-width: 0;
    }
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}

.GUIMCheckboxBlue:checked {
  @apply --blue-theme;
}
.GUIMCheckboxGray:checked {
  @apply --gray-theme;
}
.GUIMCheckboxGreen:checked {
  @apply --green-theme;
}
