/* colors */

:root {
  --white: white;

  --main-gray: #bbbbbb;
  --light-gray: #f5f5f7;
  --dark-gray: #8e8e8e;

  --main-blue: #74b9db;
  --light-blue: #c8edff;
  --dark-blue: #529bbf;

  --main-green: #74db94;
  --light-green: #a6e9bb;
  --dark-green: #67c685;

  --main-red: #d05a5a;
}


