/* colors */

:root {
  --white: white;

  --main-gray: #bbbbbb;
  --light-gray: #f5f5f7;
  --dark-gray: #8e8e8e;

  --main-blue: #74b9db;
  --light-blue: #c8edff;
  --dark-blue: #529bbf;

  --main-green: #a2f1a1;
  --light-green: #cafec9;
  --dark-green: #1aa04b;

  --main-red: #d05a5a;
}


