@import './colors.scss';

:root {
  --blue-theme: {
    color: var(--dark-blue);
    background-color: var(--light-blue);
  };

  --gray-theme: {
    color: var(--dark-gray);
    background-color: var(--light-gray);
  }

  --green-theme: {
    color: var(--dark-green);
    background-color: var(--light-green);
  }
}
