@import './colors.scss';

:root {
  --blue-theme: {
    color: var(--white);
    background-color: var(--main-blue);
    border: 1px solid var(--main-blue);
  };

  --gray-theme: {
    color: var(--white);
    background-color: var(--main-gray);
    border: 1px solid var(--main-gray);
  }

  --green-theme: {
    color: var(--white);
    background-color: var(--main-green);
    border: 1px solid var(--main-green);
  }

  --blue-theme-hover: {
    color: var(--white);
    background-color: color(var(--main-blue) alpha(65%));
    border-color: color(var(--main-blue) alpha(15%));
  }

  --gray-theme-hover: {
    color: var(--white);
    background-color: color(var(--main-gray) alpha(65%));
    border-color: color(var(--main-gray) alpha(15%));
  }

  --green-theme-hover: {
    color: var(--white);
    background-color: color(var(--main-green) alpha(65%));
    border-color: color(var(--main-green) alpha(15%));
  }

  --blue-theme-focus: {
    background-color: color(var(--white));
    border-color: color(var(--main-blue));
  }

  --gray-theme-focus: {
    background-color: color(var(--white));
    border-color: color(var(--dark-gray));
  }

  --green-theme-focus: {
    background-color: color(var(--white));
    border-color: color(var(--main-green));
  }

  --navbar-dark: {
    background-color: black;
    & a {
      color: white;
    }
    & .navbar-element:hover a {
      color: var(--main-gray);
    }
    & .dropdown.active {
      background-color: white;
    }
    & .dropdown.active a {
      color: black;
    }
    & .dd-list .dd-element {
      background-color: white;
    }
    & .dd-list .dd-element:hover a {
      color: var(--dark-gray) !important;
    }
  }

  --navbar-light: {
    background-color: white;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    & a {
      color: var(--dark-gray);
    }
    & .navbar-element:hover a {
      color: var(--main-gray);
    }
    & .dropdown.active {
      background-color: var(--light-gray);
    }
    & .dropdown.active a {
      color: var(--dark-gray);
    }
    & .dd-list .dd-element {
      background-color: var(--light-gray);
    }
    & .dd-list .dd-element:hover a {
      color: var(--main-gray) !important;
    }
  }

  --no-border: {
    border: none;
  }
}

