@import '../styles/colors.scss';
@import '../styles/themes.scss';

.GUIMPicker {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  height: 30px;
  & a {
    border: 1px solid var(--main-gray);
    color: var(--dark-gray);
    display: flex;
    background-color: var(--white);
    width: calc(51% - 1px);
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    height: 100%;
    &:last-child{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &:first-child{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}

.GUIMPickerBlue {
  & a:hover {
    @apply --blue-theme-hover;
  }
  & .active {
    @apply --blue-theme;
  }
}
.GUIMPickerGray {
  & a:hover {
    @apply --gray-theme-hover;
  }
  & .active {
    @apply --gray-theme;
  }
}
.GUIMPickerGreen {
  & a:hover {
    @apply --green-theme-hover;
  }
  & .active {
    @apply --green-theme;
  }
}
