@import '../styles/variables.scss';

.GUIMButton{
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all ease 0.3s;
  font-size: 0.8em;
  font-weight: 300;
  user-select: none;
  text-align: center;
  text-decoration: none;
  color: $main-blue;
  background-color: $dark-blue;
  &:hover, &:focus{
    opacity: 0.85;
  }
}
