@import "../styles/themes.scss";

.GUIMButton {
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all ease 0.3s;
  font-size: 0.8em;
  font-weight: 300;
  user-select: none;
  text-align: center;
  text-decoration: none;
  &:hover,
  &:focus {
    opacity: 0.75;
  }
}

.GUIMButtonBlue {
  &:hover,
  &:focus {
    @apply --blue-theme-hover;
  }
  @apply --blue-theme;
}

.GUIMButtonGray {
  &:hover,
  &:focus {
    @apply --gray-theme-hover;
  }
  @apply --gray-theme;
}

.GUIMButtonGreen {
  &:hover,
  &:focus {
    @apply --green-theme-hover;
  }
  @apply --green-theme;
}
