.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  border: 1px solid #ccc;
  padding: 15px;
}

.form > span {
  align-self: flex-start;
}

.GUIMForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.GUIMForm > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GUIMForm > div > * {
  margin: 5px;
}

.outside-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 15px;
}

.outside-form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outside-form > div > * {
  margin: 5px;
}
